<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="korea.seoul.pickple">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.PickPleApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.navigation.NavigationActivity" android:exported="true"/>
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.course.intro.all_course.ShowAllCoursesActivity"
            android:exported="true" />
        <activity android:name=".ui.setting.Setting_MemberInfo_ChangePasswordActivity" />
        <activity android:name=".ui.setting.Setting_MemberInfo_EditNicknameActivity" />

        <activity
            android:name=".ui.course.intro.CourseIntroActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- 테스트 라이브러리 사용 -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" /> <!-- 구글 API 라이브러리 호환성 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- FIREBASE DEEP LINKS -->
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pickple.page.link"
                    android:pathPrefix="/jTpt"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.course.map.MapActivity"
            android:exported="true" />
        <activity
            android:name=".ui.course.create.CourseCreateActivity"
            android:exported="true" />
        <activity android:name=".ui.course.create.search.CourseCreateSearchActivity" />
        <activity
            android:name=".ui.course.create.intro.CourseCreateIntroActivity"
            android:exported="true" />

        <activity android:name=".ui.setting.SettingActivity"/>
    </application>

</manifest>